{% extends "money/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="pageContent budgetContent">
    <div class='content-section'>
        <form action="" method='POST'>
            {% csrf_token %}
            <fieldset class="form-group">
                {% if form.name.value %}
                    <legend class="border-bottom mb-4">Edit Budget {{ form.name.value }}</legend>
                    {% else %}
                    <legend class="border-bottom mb-4">Create a new budget</legend>
                {% endif %}
                
                    {{ form | crispy}}
            </fieldset>
            <div class="form-group">
                {% if form.name.value %}
                    <button class="btn btn-primary btn-sm mt-1 mb-1" type="submit">Update budget</button>
                {% else %}
                    <button class="btn btn-primary btn-sm mt-1 mb-1" type="submit">New budget</button>
              {% endif %}
            </div>
        </form>
    </div>

    <div class='budgetTable'>
      <!-- Display all the budgets in the database -->
      <table class="table table-sm" id='budget_table'>
        <legend class="border-bottom mb-4">Budget List</legend>
          <thead>
            <tr>
              <!-- <th scope="col">#</th> -->
              <th scope="col">Budget Name</th>
              <th scope="col">Update</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
      
          {% for item in budget_list %}
          <tbody>
          <tr>
              <!-- <th>{{ item.id }}</th> -->
              <td>
                <a href="{% url 'budgets-detail' item.id %}">
                  {{ item.name }}
                </a>
              </td>
      
              <td>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'budget-update' item.id %}">Update</a>
              </td>
              <td>
                <a class="confirmation btn btn-danger btn-sm mt-1 mb-1" href="{% url 'delete_budget' item.id %}">Delete</a>
              </td>
          </tr>
      
          </tbody>
          {% endfor %}
      </table>
    </div>

  </div>

{% endblock %}
